body{
    background-image: url(img/p-210-1.jpg);
    background-repeat: no-repeat;
    /* background-size:cover; */
}

/*--------- header Area------------ */
header{
    text-align: center;
    font-weight: 900;
    padding: 30px;
    border-bottom: 1px solid black;
}


.todo_field{
    width: 40%;
    padding:5px 10px 0 10px ;
    background-color: aliceblue;
    border-radius: 5px;
 
}
.ul_body{
    height:370px;
    background-color: aliceblue;
    padding-left: 10px;
    border-radius: 5px;
    overflow: auto;  
    margin-bottom:10px; 
}
#ul_list,li{
    display: inline;
    
}
#ul_list input{
    cursor: pointer;
    width: 20px;
    height: 25px;
    margin-right: 5px;
}
#ul_list li{
    list-style-type: none;
    font-size: 25px;
}
#first_li{
    display: none;
}
#ul_list img{
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin-left:10% ;
    margin-top: -6px;
}

#get_input{
    width: 64%;
    padding: 8px 60px 8px 10px;
    border: 1px solid black;
    border-radius: 30px;
    background-color: #F6F5FA;
}
 #get_input:focus{
    outline:none;
    background-color: rgb(220, 239, 252);
 } 
#note_btn{
    font-size: 20px;
    padding: 4px 40px;
    margin-left: -120px;
    border-radius: 30px;
}



/* footer area */
.footer{
    width: 100%;
    padding: 20px;
   margin:0 auto 0  auto;
   border-top: 1px solid gray;
   background-color:#B3B3B3;
   opacity:.9;
}
.social_img a img{
    width: 40px;
    height: 40px;
    margin: 10px 7px;
	display: inline-block;
	
}
.social_img a img:hover{
    transition: ease-in-out .2s;
    box-shadow: 1px 1px 7px 7px #383535;
	border-radius: 50%;
}
.footer_text{
    margin-top: 6px;
}
.footer_text img{
	width: 30px;
	height: 30px;
}
.footer_text h5{
    font-weight: 600;
}
.footer_text h5 span{
    color: rgb(221, 29, 29);
}
.footer_text h6{
    font-size: 16px;
    font-weight: 540;
}

@media screen and (max-width: 992px){
    .card{
        margin-top: 15px;
    }
    .social_img a img{
       margin: 5px 2px;
}
.todo_field{
    width: 60%;
 }
 #get_input{
    width: 70%;
    padding-right: 70px;
}
#note_btn{
    padding: 5px 20px;
    margin-left: -100px;
}
}


@media screen and (max-width: 770px){
    .todo_field{
        width: 80%;
     }
     #get_input{
        width: 70%;
        padding-right: 70px;
    }
    #note_btn{
        padding: 5px 20px;
        margin-left: -100px;
    }
}

